<footer>
    <section class="footer-top-wrapper">
        <section class="footer-top">
            <article>
                <h2>ЗА ПРОЕКТА</h2>
                <p>Това е изпитният проект на Александър Митев за модула Angular (Single Page Application) в СофтУни.</p>
                <div class="logos">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-github"></i>
                </div>
            </article>
            <article>
                <h2>АДРЕС</h2>
                <p>София 1799</p>
                <p>ж.к. Младост 4, бул.</p>
                <p>Александър Малинов № 78</p>
                <p>+359899 55 55 92</p>
            </article>
            <article>
                <h2>ВРЪЗКА С НАС</h2>
                <p><a routerLink="/contact"><i class="fas fa-chevron-right"></i>Остави съобщение</a></p>
                <p><a routerLink="/chat"><i class="fas fa-chevron-right"></i>Чат</a></p>
            </article>
        </section>
    </section>
    <section class="footer-bottom-wrapper">
        <section class="footer-bottom">
            <p>&copy;2021 Sram.bg - Всички права запазени!</p>
        </section>
    </section>
</footer>