<div class="main">
    <div class="jumbotron">
        <h1>Моите сигнали</h1>
        <p>Тук можете да редактирате или триете подадените от вас сигнали.
        </p>
    </div>
    <article *ngFor="let scammer of scammers | async">
        <p>Име: {{scammer.firstName}} {{scammer.secondName}}, Град/село: {{scammer.city}}, Тел. {{scammer.phone}}</p>
        <div class="buttons">
            <a [routerLink]="['/edit', scammer.id]">Редактирай</a>
            <a (click)="deleteObject([scammer.id])">Изтрий</a>
        </div>
    </article>
</div>