<div class="container">
    <div class="brand-title">Вход</div>
    <form #formData='ngForm' (ngSubmit)='onSubmit(formData)' class="inputs">
        <label for="email">Имейл</label>
        <input (ngModel)="email" type="email" name="email"
            placeholder="example@test.com" required email />
        <label for="password">Парола</label>
        <input (ngModel)="password" type="password" name="password"
            placeholder="Мин 6 символа" required [minlength]="6" />
        <button type="submit" [disabled]="!formData.valid">ВХОД</button>
    </form>
    <br>
    <div>Не сте регистриран? Моля използвайте <a routerLink="/register">Регистрация</a>!</div>
</div>