<div class="main">
    <div class="jumbotron">
        <h1>Стена на срама</h1>
        <p>Искате да купите нещо от olx.bg или bazar.bg, но ви е страх от некоректни продавачи. Потърсете ги на нашата
            стена на срама! Вече сте сте били измамен? Предупредете за безсрамника тук и помогнете на бъдещите жертви.
        </p>
    </div>
    <input type="text" ngModel #searchBox="ngModel" name="searchBox" placeholder="Търси по име, град, телефон или описание...">
    <article *ngFor="let scammer of scammers | async | reverse">
        <div class="info" *ngIf="searchBox.value == '' || 
        scammer.firstName.includes(searchBox.value) ||
        scammer.secondName.includes(searchBox.value) ||
        scammer.city.includes(searchBox.value) ||
        scammer.description.includes(searchBox.value) ||
        scammer.phone.includes(searchBox.value)">
            <p>Име: {{scammer.firstName}} {{scammer.secondName}}, Град/село: {{scammer.city}}, Тел. {{scammer.phone}}</p>
            <a [routerLink]="['/scammers', scammer.id]">Описание</a>
        </div>
    </article>
</div>