.jumbotron {
    background: #E9ECEF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jumbotron p, .jumbotron h1 {
    padding: 0 20%;
    margin: 0;
}

.jumbotron h1 {
    font-size: 36px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.jumbotron p {
    font-size: 16px;
    padding-bottom: 60px;
}

.info {
    background: #007BFF;
    display: flex;
    margin: 10px auto;
    width: 60%;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 5px 0px gray;
}

.info a {
    text-decoration: none;
    color: white;
    border: white 1px solid;
    border-radius: 6px;
    padding: 8px 16px;
}

.info a:hover {
    background: white;
    color: #007BFF;
}

input {
    width: 60%;
    display: block;
    margin: auto;
    padding: 10px 26px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 15px;
    border: #007BFF solid 1px;
}

input:focus {
    outline: none;
    border: #007BFF solid;
  }

@media all and (max-width: 1350px) {
    .info {
        flex-direction: column;
    }
}